*.csv
*.html
*.pdf
*.pdf
*.html
*.txt
*.dat
*.tsv
!/reports/*/*.html
!/reports/*/*.txt
!/reports/*/*.pdf
/quizzes/*
!requirements.txt
!project4/sysI_recs.csv
!project4/sysI_recs_full.csv
!project4/similarity.csv
.DS_Store
*.zip
.RHistory
project4/ml-1m/ml-1m/README
__pycache__